name: Snyk
on: [pull_request]
jobs:
  security:
    # skip running this action if the PR is coming from a fork:
    if: github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/golang@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --org=auth0-extensibility --project-name=auth0-cli
          command: monitor
